<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364971332513-nkq14jtgvbn3m3qf5h4lv8prgrs10bju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364971332513-nkq14jtgvbn3m3qf5h4lv8prgrs10bju</string>
	<key>API_KEY</key>
	<string>AIzaSyCxBAZqCWHLTiDG5hHH2khQ-7KHyK4yGmA</string>
	<key>GCM_SENDER_ID</key>
	<string>364971332513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fernandoNunes.iOS-Pratice-App</string>
	<key>PROJECT_ID</key>
	<string>ios-pratice-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-pratice-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364971332513:ios:7be42b9b3b448086f0f1e0</string>
	<key>DATABASE_URL</key>
	<string>https://ios-pratice-project-default-rtdb.firebaseio.com</string>
</dict>
</plist>